*{
    margin: 0;
}
body{
    background-color: #22223B;
    color: #382114;
    font-family: sans-serif;
}
header{
    text-align: center;
    height: 5vh;
    background-color: #4A4E69;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1em #9b9795;
    color: #F2E9E4;
}


.card{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card-item{
    width: 20vw;
    background-color: #9A8C98 ;
    padding: 1rem;
    border:#F2E9E4 solid 1px ;
    border-radius: 0.8rem;
    margin: 0.8rem 0;
    text-align: end;
    box-shadow: 0 0 1em #8a8783;
}
h3{
    text-align: center;
    margin: 0.5rem 0;
}
img{
    width:  100%;

    border-radius: 0.5rem;
}
a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: #F2E9E4;
    transition: 1s;
}
a:hover{
    text-decoration: underline ;
}
a::after{
    content: ' ➜';
}

