*{
    font-family: sans-serif;
}
.campos{
    width: 30vw;
    margin: 0 auto ;
    text-align: center;
}
input{
    width: 3rem;
    display: block;
    margin: 0.5rem auto;
}

button{
    padding: 0.3rem;

}
label{
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    margin: 1rem 0;
}

img{
    margin: 1rem;
    width: 20%;
}
.cards{
    margin-top: 2rem;
    text-align: center;

}
fieldset{
    border-radius: 1rem;
}
h3{
    color: red;
}