nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 2fr;


}

div{
    border: 1px solid black;
    height: 20vh;
}
.um{
    grid-column: 1/4;
    grid-row: 1/2;
}
.dois{
    grid-column: 1/2;
    grid-row: 2/4;

}

.tres{
    grid-column: 3/4;
    grid-row: 3/4;

}

.quatro{
    grid-column: 1/4;
    grid-row: 4/4;
}